<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/loginprod/LoginWithDoctorUser.java">
        <classes>
            <class name="org.loginprod.LoginWithDoctorUser">
                <methods>
                    <include name="signInTest"/>
                    <include name="tokenChange"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/loginprod/LoginWithItUser.java">
        <classes>
            <class name="org.loginprod.LoginWithItUser">
                <methods>
                    <include name="signInTest"/>
                    <include name="tokenChange"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/AssetInventoryFilterTest.java">
        <classes>
            <class name="org.testcase.AssetInventoryFilterTest">
                <methods>
                    <include name="assetInventoryFilterTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/AssetInventoryListingTest.java">
        <classes>
            <class name="org.testcase.AssetInventoryListingTest">
                <methods>
                    <include name="assetInventoryListing"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/AssetRequestAcceptTryEdit.java">
        <classes>
            <class name="org.testcase.AssetRequestAcceptTryEdit">
                <methods>
                    <include name="assetTransferInitiated"/>
                    <include name="RequestAccept"/>
                    <include name="assetTransferRevoke"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/AssetRequestRejectTryEdit.java">
        <classes>
            <class name="org.testcase.AssetRequestRejectTryEdit">
                <methods>
                    <include name="assetTransferInitiated"/>
                    <include name="requestReject"/>
                    <include name="assetTransferRevoke"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/AssetTransferInitiatedRequestAccept.java">
        <classes>
            <class name="org.testcase.AssetTransferInitiatedRequestAccept">
                <methods>
                    <include name="assetTransferInitiated"/>
                    <include name="RequestAccept"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/AssetTransferInitiatedRequestReject.java">
        <classes>
            <class name="org.testcase.AssetTransferInitiatedRequestReject">
                <methods>
                    <include name="assetTransferInitiated"/>
                    <include name="requestReject"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/DoctorSideAssetListingTest.java">
        <classes>
            <class name="org.testcase.DoctorSideAssetListingTest">
                <methods>
                    <include name="testStatusCodeReponseBody"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/InitiatedEditRevoke.java">
        <classes>
            <class name="org.testcase.InitiatedEditRevoke">
                <methods>
                    <include name="assetTransferInitiated"/>
                    <include name="assetTransferEdit"/>
                    <include name="assetTransferRevoke"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ManjeetSharma/Downloads/AssetsTransferApiAutomation/src/test/java/org/testcase/InitiatedInitiatedAssetListing.java">
        <classes>
            <class name="org.testcase.InitiatedInitiatedAssetListing">
                <methods>
                    <include name="assetTransferInitiated"/>
                    <include name="initiatedAssetListing"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.example.CustomTestListener" />
    </listeners>
</suite>